.top1div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;


}


.top2div {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    text-align: center;
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(50, 50, 50);
}


.blogcardmain {
    padding: 0.5rem
}



.maindiv {

    height: 100vh;
    background: linear-gradient(rgb(55, 54, 54), rgb(133, 133, 133), rgb(23, 23, 23));
    color: white;
    width: 100vw;
    overflow-y: scroll;
    scroll-margin: 0;
}

@media (max-width: 800px) {
    .top1div {
        flex-direction: column;
    }
}